body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2em;
}

.settings {
    margin: 20px 0;
}

label {
    display: block;
    margin: 10px 0;
}

.timer {
    font-size: 3em;
    color: #333;
    background: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#pomodoroLabel, #countdownLabel {
    display: none;
}

#startButton {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}